<div class="modal container">
    <button data-func="close-modal" class="close"><i class="las la-times"></i></button>
	<div class="modal-header pd-all-20">
		<h1>Emailek</h1>
	</div>
    <div class="modal-content pd-side-20">
        <div class="email-box row">
            <div class="email-bx-header mg-vertical-10 col-md-12">
                <span data-name="created" class="float-l"></span>
            </div>
            <div class="email-container row">
                <div class="data-bx col-md-3">
                    <h4>Név</h4>
                    <span data-name="name"></span>
                </div>
                <div class="data-bx col-md-3">
                    <h4>E-mail cím</h4>
                    <span data-name="address"></span>
                </div>
                <div class="data-bx col-md-3">
                    <h4>Tárgy</h4>
                    <span data-name="subject"></span>
                </div>
                <div class="data-bx col-md-3">
                    <h4>Látta</h4>
                    <span data-name="open"></span>
                </div>
                <div class="data-bx col-md-12 mg-top-30 mg-bottom-20">
                    <h4>Tartalom</h4>
                    <span data-name="content"></span>
                </div>
            </div>
        </div>
    </div>
</div>