<div class="modal container">
    <button data-func="close-modal" class="close"><i class="las la-times"></i></button>
    <div class="modal-header pd-side-20 pd-vertical-10">
        <h1 data-info="name" class="product-name"></h1>
    </div>
    <div class="modal-content pd-all-20">
        <div class="product-pics col-md-4">
            <img src="/view/uploads/mts-technik.png" alt="" class="main-img">
            <div class="other-pic">
            </div>
        </div>
        <div class="product-info row col-md-8">
            <div class="prod-info-card mg-bottom-20 col-md-2" data-info="categoryName">
                <h4>Kategória</h4>
                <span>Futómű</span>
            </div>
            <div class="prod-info-card mg-bottom-20 col-md-2" data-info="supplier">
                <h4>Beszállító</h4>
                <span>MTS Technik</span>
            </div>
            <div class="prod-info-card mg-bottom-20 col-md-2" data-info="sellPrice">
                <h4>Eladási ár</h4>
                <span>22 222 222 Ft</span>
            </div>
            <div class="prod-info-card mg-bottom-20 col-md-2" data-info="buyPrice">
                <h4>Beszerzési ár</h4>
                <span>22 222 222 Ft</span>
            </div>
            <div class="prod-info-card mg-bottom-20 col-md-2" data-info="sku">
                <h4>SKU</h4>
                <span></span>
            </div>
            <div class="prod-info-card mg-bottom-20 col-md-12">
                <h4>Teljes név</h4>
                <span data-info="name"></span>
            </div>
            <div class="prod-info-card mg-bottom-20 col-md-12" data-info="description">
                <h4>Hosszú leírás</h4>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora ut, dolore ea corrupti voluptates repellendus perferendis 
                    consequatur ipsam asperiores, sunt aliquam veniam praesentium beatae hic facilis sed, natus quisquam eos exercitationem. Sunt t
                    emporibus totam eos iusto aut repellendus, in voluptate magnam ipsam, ratione cumque vitae eius nostrum, cum ipsum ex.
                </span>
            </div>
        </div>
    </div>
    <div class="modal-footer pd-side-20 mg-vertical-20">
        <div class="actions float-l pd-vertical-20">
            <button class="mg-right-20 edit-btn"><a href="/product-edit">Szerkesztés</a></button>
            <button data-func="delete.modal-product" class="bg-red">Termék törlése</button>
        </div>
    </div>
</div>